{% extends 'base.html' %}
{% block title %}Sensor List{% endblock %}

{% block content %}
<div class="container-sm">
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col-sm">
                <label for="select" class="form-label">センサー</label>
                <select id="select" class="form-select" aria-label="Sensor">
                    {% for sensor in sensor_list %}
                    <option value={{ sensor.id }}>{{ sensor.id }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm">
                <label for="flatpickr" class="form-label">データ表示日</label>
                <input type="text" id="flatpickr" class="flatpickr-input" readonly="readonly">
            </div>
            <div class="col-sm">
                <button id="search" type="button" class="btn btn-outline-primary">表示</button>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="container-sm">
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
            <p>温度</p>
            <canvas id="temparetureChart"></canvas>
        </div>
    </div>
    <div class="container-sm">
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
            <p>湿度</p>
            <canvas id="humidityChart"></canvas>
        </div>
    </div>
    <div class="container-sm">
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
            <p>CO2</p>
            <canvas id="co2Chart"></canvas>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.0/dist/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/ja.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

<script>

    function drawChart(id, from, to) {
        axios({
            method: 'GET',
            url: `/api/sensor/${id}/data/?from=${from}&to=${to}&fmt=chart`
        }).then(response => {
            const tempareture = {
                labels: response.data.labels,
                datasets: [{
                    label: '気温',
                    data: response.data.tempareture,
                    fill: true,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    tension: 0.1
                }]
            };
            temparetureChart.data = tempareture;
            temparetureChart.update();

            const humidity = {
                labels: response.data.labels,
                datasets: [{
                    label: '湿度',
                    data: response.data.humidity,
                    fill: true,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    tension: 0.1
                }]
            };
            humidityChart.data = humidity;
            humidityChart.update();

            const co2 = {
                labels: response.data.labels,
                datasets: [{
                    label: 'CO2',
                    data: response.data.co2,
                    fill: true,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    tension: 0.1
                }]
            };
            co2Chart.data = co2;
            co2Chart.update();

        });
    }

    function butotnClick() {
        const obj = document.getElementById('select');
        const id = obj.options[obj.selectedIndex].text

        const datetimepicker = document.getElementById('flatpickr');
        const fp = flatpickr(datetimepicker);

        const from = moment(fp.selectedDates[0]).unix();
        const to = from + (60 * 60 * 24)

        drawChart(id, from, to)
    }

    let button = document.getElementById('search');
    button.onclick = butotnClick;

    const chartConfig = {
        type: 'line',
        data: {},
        options: {
            plugins: {
                legend: {
                    display: false
                }
            },
            scales: {
                x: {
                    scaleLabel: {
                        display: true,
                        labelString: '時間'
                    },
                    type: 'time',
                    time: {
                        parser: 'YYYY-MM-DDTHH:mm:ss.SSSSSSZ',
                        unit: 'hour',
                        stepSize: 1,
                        displayFormats: {
                            'hour': 'H時'
                        }
                    }
                }
            }
        }
    };

    const temparetureChart = new Chart((() => {
        return document.getElementById('temparetureChart').getContext('2d');
    })(), Object.assign({}, chartConfig));

    const humidityChart = new Chart((() => {
        return document.getElementById('humidityChart').getContext('2d');
    })(), Object.assign({}, chartConfig));

    const co2Chart = new Chart((() => {
        return document.getElementById('co2Chart').getContext('2d');
    })(), Object.assign({}, chartConfig));

    flatpickr("#flatpickr", {});

</script>

{% endblock %}